[submodule "thirdparties/wsocket"]
	path = thirdparties/wsocket
	url = https://github.com/tisyang/wsocket.git
[submodule "thirdparties/queue"]
	path = thirdparties/queue
	url = https://github.com/opensource-mirrors/freebsd-queue.git
[submodule "thirdparties/libev"]
	path = thirdparties/libev
	url = https://github.com/opensource-mirrors/libev.git
[submodule "thirdparties/ulog"]
	path = thirdparties/ulog
	url = https://github.com/tisyang/ulog.git
[submodule "thirdparties/ref_ntrip"]
	path = thirdparties/ref_ntrip
	url = https://github.com/sevensx/ntrip.git
